<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Employee</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Are you sure you want to delete this employee?</h1>
    <p>Name: <span th:text="${employee.name}"></span></p>
    <p>Email: <span th:text="${employee.email}"></span></p>

    
    <form th:action="@{/delete-employee/{id}(id=${employee.id})}" method="get">
        <input type="submit" value="Yes, Delete" class="button" />
    </form>

    <a href="/employees" class="button">Cancel</a>
</body>
</html>
