<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Employee List</h1>
    
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Salary</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.salary}"></td>
                <td th:text="${employee.email}"></td>
                <td>
                    <a href="/edit-employee/{id}" th:href="@{/edit-employee/{id}(id=${employee.id})}" class="button">Edit</a>
                    <a href="/delete-employee/{id}" th:href="@{/delete-employee/{id}(id=${employee.id})}" class="button">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

   
    <div class="center-button">
        <a href="/add-employee" class="button">Add Employee</a>
    </div>

</body>
</html>
